<form action="/cars/add" method="POST">
  <label for="make">Make</label>
  <input type="text" name="make" value="{{make}}" />
  <br/>
  <label for="model">Model</label>
  <input type="text" name="model" value="{{model}}" />
  <br/>
  <label for="year">Year</label>
  <input type="number" name="year" value="{{year}}" />
  <br/>
  <label for="pricePerDay">Price per day</label>
  <input type="number" name="pricePerDay" value="{{pricePerDay}}" />
  <br/>
  <label for="power">Power</label>
  <input type="number" name="power" value="{{power}}" />
  <br/>
  <label for="image">Image</label>
  <input type="url" name="image" value="{{image}}" />
  <br/>
  <input type="submit" value="Save" />
</form>